.container {
  margin-inline: auto;
  max-width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  padding-right: 5px;
}
.title {
  font-size: 1rem;
}
.skillsTitle,
.text {
  font-size: 0.8rem;
}
.skillsList {
  display: flex;
}
.skillItem {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skillIcon {
  font-size: 5rem;
  color: var(--pink);
}
@media (min-width: 768px) {
  .title {
    font-size: 2rem;
  }
  .skillsTitle,
  .text {
    font-size: 1.5rem;
  }
  .skillItem {
    font-size: 1.5rem;
  }
  .skillIcon {
    font-size: 7rem;
    color: var(--pink);
  }
}
