.container {
  display: flex;
  width: 100%;
  border-bottom: var(--borderColor) solid 1px;
  z-index: 2;
  flex-wrap: wrap;
  background-color: var(--black);
}
.section {
  border-top: var(--borderColor) solid 1px;
  border-left: var(--borderColor) solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0.5rem;
}
.logo,
.social,
.nav,
.contact {
  flex-grow: 1;
}
.nav {
  gap: 1rem;
}
.social {
  gap: 1em;
}
.logo {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1;
  width: 100%;
}
.hamburger {
  margin-left: auto;
}
@media (min-width: 301px) {
  .container {
    flex-wrap: nowrap;
  }
  .social {
    flex-grow: 0;
  }
  .section {
    border-top: none;
  }
}
@media (min-width: 380px) {
  .social {
    flex-grow: 1;
  }
  .logo {
    width: calc(100% / 4);
  }
}
@media (min-width: 810px) {
  .logo {
    max-width: 25%;
  }
}
