.container {
  display: flex;
  width: 100%;

  z-index: 2;
  background-color: var(--black);
}
.section {
  border-left: var(--borderColor) solid 1px;
  border-bottom: var(--borderColor) solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0.5rem;
}
.section:first-child {
  border-left: none;
}
.logo,
.nav,
.contact {
  flex-grow: 1;
}
.logo {
  flex-basis: calc(100% / (1.6 * 1.6));
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1;
}
.nav {
  justify-content: space-around;
  flex-basis: 100%;
}
.contact,
.hamburger {
  flex-basis: calc(100% / (1.6 * 1.6));
}
