.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(200px, 100%, 1000px);
  flex-direction: column;
  gap: 1.5rem;
}
.text {
  width: clamp(200px, 80%, 1000px);
  text-align: center;
  font-size: 1.2rem;
}
.link {
  text-decoration: underline;
}
