:root {
  --gray: #797596ff;
  --green: #a2d729ff;
  --pink: #ff006eff;
  --darkBlue: #060b19ff;
  --black: #050517ff;
  --white: #c7c7c7;
  --borderColor: #ffffff80;

  --backgroundFallback: #435383;
  --backgroundGradient: linear-gradient(330deg, #435383 0%, #060b19 50%);

  --transition: 0.25s ease-out;
}
