.container {
  display: flex;
  flex-direction: column;
}
.section {
  display: flex;
  flex-direction: column;
}
.image {
  max-width: 600px;
  margin-inline: auto;
}
.title {
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
}
