.projectsGrid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 100%;
}

.projectButtons {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.projectButton {
  padding: 0.5rem 1rem;
  border: none;
  flex-basis: calc(100% / 8);
  cursor: pointer;

  border-bottom: 1px solid var(--borderColor);
}

.projectButton:last-child {
  border-bottom: none;
}
.projectButton:hover {
  background-color: var(--white);
  color: var(--black);
}

.projectDetails {
  border-left: 1px solid var(--borderColor);
}
.container {
  display: flex;
  flex-direction: column;
}
.title {
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 1.1;
  text-align: center;
  border-bottom: 1px solid var(--borderColor);
  padding-block: 0.4rem;
}
.techTitle {
  font-weight: 700;
  font-size: 1.1rem;
  line-height: 1.1;
}
.techList {
  padding-left: 1em;
}
.techList li {
  list-style: disc;
}
.techList li::marker {
  color: var(--white);
}
.text {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.text a {
  text-decoration: underline;
  transition: all 0.25s ease-out;
}
.text a:hover {
  color: var(--pink);
}
.imgContainer {
  display: grid;
  max-width: 100%;
  grid-template-columns: 3fr 1fr;
  gap: 1em;
  padding: 0.4rem;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.imgContainer img:first-child {
  flex-grow: calc(16 / 9);
}
.imgContainer img:last-child {
  flex-grow: calc(9 / 16);
  height: 100%;
}
.tech {
  border-left: 1px solid var(--borderColor);
}

.text > div {
  padding: 0.4rem;
  border-bottom: 1px solid var(--borderColor);
}
