.active {
  color: var(--pink);
}

.link {
  font-size: 1.2rem;

  display: inline-block;
  position: relative;
}

.link:hover {
  color: var(--pink);
  transition: all 0.25s ease-out;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
