.container {
  max-width: 80%;
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 15px;
  padding-right: 5px;
}
.title {
  font-size: 1.5rem;
}
.text {
  font-size: 1.2rem;
}
.buttons {
  display: flex;
  gap: 3rem;
  font-size: 1rem;
}

.cta {
  padding: 0.6rem;
  border: 1px solid var(--borderColor);
}
.cta:hover {
  cursor: pointer;
}
@media (min-width: 768px) {
  .title {
    font-size: 3rem;
  }
  .text {
    font-size: 2rem;
  }
  .buttons {
    font-size: 1.5rem;
  }
}
